*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 22%;
  height:80%;
  border: 1px solid black;
  border-radius: 5px;
  background: url('https://wallpapers.com/images/hd/whatsapp-chat-background-fb34cc4b2hg9lmix.jpg');
  background-position: center;
  background-size: 70%;
}

/* .input i{
  color: black;
  position: absolute;
  top: 0;
  left: 0;
} */

i{
  color: white;
}

.chat_bar{
  padding: 10px;
}

.input{
  position: relative;
}

.input input{
  outline: none;
  width: 70%;
  padding: 10px;
  border: none;
}

.input :nth-child(2){
  position: absolute;
  left: 0;
  top: 0;
  color: black;
}